<% layout('../includes/template') -%>
<main class="main">
  <div class="container-fluid">
    <div class="animated fadeIn">
      <div class="row mt-3 mb-3">
        <div class="col">
          <h2>Meus serviços</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col d-block d-sm-none mb-3">
                  <img src="/img/services/eletricista.jpg" alt="Eletricista residencial" class="img-responsive"
                    style="width:100%">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h4>Eletricista residencial</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quo consectetur sint vitae
                    ipsum doloribus dolorum corrupti facilis non, inventore aspernatur sequi! Commodi, nihil. Unde dolor
                    amet excepturi qui! Laborum!</p>
                  <hr>
                  <h5><i class="icon-clock"></i> Horários de Atendimento</h5>
                  <p>Segunda a Sábado das 8h às 20h</p>
                  <h5><i class="icon-user"></i> Responsável</h5>
                  <p>João da Silva</p>
                  <h5><i class="icon-phone"></i> Telefone</h5>
                  <p>(84) 99999-9999</p>
                  <h5><i class="icon-home"></i> Localização</h5>
                  <p>Bloco 1. Apto 410.</p>
                </div>
                <div class="col d-none d-sm-block">
                  <img src="/img/services/eletricista.jpg" alt="Eletricista residencial" class="img-responsive"
                    style="width:100%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
