<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.12
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">

<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  
  <title>Cervice</title>
  <!-- Icons-->
  <link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
  <link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <!-- Main styles for this application-->
  <link href="/Css/style.css" rel="stylesheet">
  <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img class="navbar-brand-full" src="/img/brand/logo4.svg" width="90" height="30" alt="Cervice Logo">
      <img class="navbar-brand-minimized" src="/img/brand/logo1.svg" width="30" height="30" alt="Cervice Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">
          <i class="icon-bell"></i>
          <span class="badge badge-pill badge-danger">2</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header text-center">
            <strong>Notificações</strong>
          </div>
          <a class="dropdown-item" href="perfil.html">
            <i class="fa fa-credit-card"></i> Pagamento aprovado</a>
          <a class="dropdown-item" href="login.html">
            <i class="fa fa-ban"></i> Pedido 0134 cancelado</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <img class="img-avatar" src="/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header text-center">
            <strong>Configurações</strong>
          </div>
          <a class="dropdown-item" href="/perfil">
            <i class="fa fa-user"></i> Perfil</a>
          <a class="dropdown-item" href="/login">
            <i class="fa fa-lock"></i> Sair</a>
        </div>
      </li>
    </ul>
  </header>
  <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/vitrine">
              <i class="nav-icon icon-grid"></i> Vitrine
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/meus-pedidos">
                <i class="nav-icon icon-grid"></i> Meus Pedidos
              </a>
            </li>
          <li class="nav-title">Fornecedor</li>
          <li class="nav-item">
            <a class="nav-link" href="/fornecedor/meus-servicos">
              <i class="nav-icon icon-briefcase"></i> Meus Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="entregas.html">
              <i class="nav-icon icon-note"></i> Minhas Entregas</a>
          </li>
          <li class="nav-title">Administrador</li>
          <li class="nav-item">
            <a class="nav-link" href="/administrador/condominio">
              <i class="nav-icon icon-home"></i> Condomínio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrador/usuarios">
              <i class="nav-icon icon-people"></i> Usuários</a>
          </li>
        </ul>
      </nav>
    </div>