<%- include('../includes/cabecalho.ejs') -%>

<main class="main">
  <div class="container-fluid">
    <div class="animated fadeIn">
      <div class="row mt-3 mb-3">
        <div class="col">
          <h2>MEUS SERVIÇOS</h2>
        </div>
        <div class="col text-right">
          <a href="/fornecedor/novo-servico" class="btn btn-primary">
            <span class="fa fa-plus"></span> ADICIONAR SERVIÇO
          </a>
        </div>
      </div>
          <div class="row">
            <% servicos.forEach(function(dat) { %>
            <div class="col-sm-6 col-lg-3">
                <a href="editar.html">
                  <div class="card mb-3">
                    <img src="/img/services/advogado.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= dat.nome%></h5>
                      <p class="card-text"><%=dat.descricao%></p>
                    </div>
                  </div>
                </a>
              </div>
              <% }); %>
          </div>
    </div>
  </div>
</main>
<%- include('../includes/rodape.ejs') -%>