<!DOCTYPE html>
<html>
    <head>
        <title>Erro 404</title>
        <meta charset = "utf-8">
        <meta name= "viewport" content= "width=device-width" inicial-scale = "1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "stylesheet" type= "text/css" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link type = "text/css" rel = "stylesheet" href = "Css/erro.css">
    </head>
    <body>
        <h1><span class = "text-info">4</span><span style = "text-decoration: line-through;text-decoration-color: #17a2b8;">0</span><span class = "text-info">4</span></h1>
        <h2 class = "text-dark ">A página solicitada não foi encontrada.</h2>
    </body>
</html>        