<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro</title>
        <meta charset = "utf-8">
        <meta name= "viewport" content= "width=device-width" inicial-scale = "1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "stylesheet" type= "text/css" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel = "stylesheet" type= "text/css" href = "css/cadastro.css">
    </head>
    <body>
        <div class = "form-container">
            <div class = "card">
                <div class = "card-body">
                    <h2 class="card-title"></h2>
                    <p class = "text-muted">Crie uma conta gratuitamente</p>
                    <form method = "POST" onsubmit="return validar_form()">
                        <div class = "form-group">
                            <div class = "input-group">
                                <div class = "input-group-prepend input-group-text">
                                    <i class="fa fa-user-alt"></i>
                                </div>
                                <input type = "text" id = "nome" name = "nome" class = "form-control" placeholder="Nome" onfocusout = "validar_nome()" data-toggle="popover" data-placement="right"/>    
                            </div>
                        </div>
                        <div class = "form-group">
                            <div class = "input-group">
                                <div class = "input-group-prepend input-group-text">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input type = "text" id = "email" name = "email" class = "form-control" placeholder="E-mail" onfocusout = "validar_email()" data-toggle="popover" data-placement="right"/>
                            </div>
                        </div>
                        <div class = "form-group">
                            <div class = "input-group">
                                <div class="input-group-prepend input-group-text ">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type = "password" id = "senha" name = "senha" class = "form-control" placeholder="Senha" onfocusout = "validar_senha()" data-toggle="popover" data-placement="right">
                            </div>
                        </div>
                        <div class = "form-group">
                            <div class = "input-group">
                                <div class = "input-group-prepend input-group-text">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type = "password" id = "confirm_senha" name = "confirm_senha" class = "form-control" placeholder="Confirme a senha" onfocusout = "validar_confirmSenha()" data-toggle="popover" data-placement="right">
                            </div>
                        </div>
                        <div class = "form-group">
                            <div class = "input-group">
                                <div class = "input-group-prepend input-group-text">
                                    <i class="fa fa-building"></i>
                                </div>
                                <input type = "text" id = "codigo" name = "codigo" class = "form-control" placeholder="Código do condomínio" onfocusout = "validar_condominio()" data-toggle="popover" data-placement="right"/>
                            </div>
                        </div>
                        <div class = "form-group">
                            <div class = "input-group">
                                <div class = "input-group-prepend input-group-text">
                                    <i class="fa fa-puzzle-piece"></i>
                                </div>
                                <input type = "text" id = "bloco" name = "bloco" class = "form-control" placeholder="Bloco" onfocusout = "validar_condominio()" data-toggle="popover" data-placement="right" style="margin-right: 10px"/>
                                <div></div>
                                <div class = "input-group-prepend input-group-text">
                                    <i class="fa fa-hashtag"></i>
                                </div>
                                <input type = "text" id = "numero" name = "numero" class = "form-control" placeholder="Numero" onfocusout = "validar_condominio()" data-toggle="popover" data-placement="right"/>
                            </div>
                        </div>
                        <input type = "submit" class = "btn btn-info" value = "Cadastrar">   
                    </form>
                </div>
                <div class = "card-footer bg-info text-center">
                    <button class = "btn text-white bg-dark" onclick="location.href = 'login';">Já sou cadastrado!</button>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src = "javascript/cadastro.js"></script>
    </body>
</html>    