<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset = "utf-8">
        <meta name= "viewport" content= "width=device-width" inicial-scale = "1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "stylesheet" type= "text/css" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel = "stylesheet" type= "text/css" href = "Css/cadastro.css">
    </head>
    <body>
        <div class = "form-container">
            <div class = "card">
                <div class = "card-body">
                    <form method = "POST">
                        
                    </form>
                </div>
                <div class = "card-footer bg-info text-center">
                    <button class = "btn text-white bg-dark" onclick="location.href = 'login';">Já sou cadastrado!</button>
                </div>
            </div>
        </div>
    </body>
</html>    