<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <title>Inscrição</title>
        <meta charset = "utf-8">
        <meta name= "viewport" content= "width=device-width" inicial-scale = "1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href = 'Css/inscricao.css'>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src = "Javascript/inscricao.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    </head>
    <body>
        <!-- caixa de inscrição -->
        <div class="row">
            <div class="col-12 col-md-8">
                <h4 class="text-center">Login Now</h2>
            </div>
            <div class="col-6 col-md-4 side-nav fixed" style = "background-image: url(Img/inscricao.jpg);">
                <div>
                    <h3> AAAAAAAAAAA </h1>
                </div>
            </div>
        </div>        
    </body>
</html>