body {
    height: 100%;
}
.form-container {
    position: relative;
    top: 230px;
    width: 50%;
    left: 25%;
}
.card {
    height: 300px;
}
.text-muted {
    margin-bottom
}
.fa-envelope {
    font-size: 22px;
}
.fa-key {
    font-size: 22px;
}
*:focus {
    outline: none;
}
.btn-primary {
    position: relative;
    left: 14px;
}