body {
    height: 100%;
    font-family: sans-serif;
    background: #f0eded;
}
.form-container {
    position: relative;
    top: 230px;
    width: 63%;
    left: 17%;
}
.card {
    height: 340px;
}
.text-muted {
    margin-bottom
}
.fa-user {
    font-size: 22px;
}
.fa-key {
    font-size: 19px;
}
*:focus {
    outline: none;
}
.btn-info {
    position: relative;
    left: 14px;
}
.cadastro {
    position: relative;
    top: 30px;
}
.cadastro-mensagem {
    padding: 20px;
}
.row {
    position: relative;
    padding-top: 10px;
}